# Telegram
TELEGRAM_TOKEN=your_bot_token_here
TG_CHAT_ID=your_chat_id_here

# Database
DB_PATH=data/traffic.db

# Router
ROUTER_NAME=Archer_A5
UPNP_SERVICE_TYPE=urn:schemas-upnp-org:service:WANCommonInterfaceConfig:1
UPNP_ACTION_RECEIVED=GetTotalBytesReceived
UPNP_ACTION_SENT=GetTotalBytesSent

# Flask
FLASK_HOST=0.0.0.0
FLASK_PORT=5005
ENABLE_WEB_DASHBOARD=true

# Localization
LANGUAGE=en

# Traffic Limits
MONTHLY_LIMIT_GB=250.0
